
body { 
min-width: 90px; 
color: black;
background-color: #EFFFFD;
 font-family: "Open Sans", Arial, sans-serif; 
line-height: 1.5; 


}


 #sidebar { 
 position: fixed; 
 min-width: 290px; 
 top: 0px; 
 left: 0px; 
 width: 300px; 
 height: 100%; 
 border-right: solid; 
 border-color: black; 
 
 }



h2 { 
color: black; 
margin: 10px; 
text-align: center; 
font-size: 1.8em; 

font-weight: thin; 
} 

#documentation h2 { 
text-align: left; 

margin: 0px; 

} 

#sidebar ul { 

height: 88%; 
padding: 0; 
overflow-y: auto; 
overflow-x: hidden; 

} 

#sidebar li { 

color: black;
border-top: 1px solid; 
list-style: none; 
position: relative; 
width: 100%; 
font-weight:500;

}

 #sidebar .nav-item { 
display: block; 
padding: 10px 30px; 
color: black;
text-decoration: none; 
cursor: pointer; 
}


#documentation { 
position: absolute; 
margin-left: 310px; 
padding: 20px; 
margin-bottom: 110px; 
}

 section article { 
color: black;
margin: 20px; 
font-size: 1em;
font-family:Times;

font-weight:500;

} 

section li { 
margin: 20px 0px 0px 20px; 
} 

pre { 
display: block; 
text-align: left; 
white-space: pre-line; 
position: relative; 
word-break: normal; 
word-wrap: normal; 
line-height: 2.2; 
background-color: #B8FFF9;
padding: 20px; 
margin: 20px; 
border-radius: 5px; 

} 

.hscroll { 
overflow-x: auto; 
}

 table { 
caption-side: bottom; 
border-collapse: collapse; 
} 


@media only screen and (max-width: 400px) { 

 #sidebar ul { 
border: 1px solid; 
height: 207px; 

}

 #sidebar { 
background-color: #EFFFFD;
position: absolute; 
top: 0; 
padding: 0; 
margin: 0; 
width: 100%; 
max-height: 275px; 
border: none; 
z-index: 100; 
border-bottom: 2px solid; 
} 

#documentation {
position: relative; 
margin-left: 0px; 
margin-top: 287px; 
} } 

@media only screen and (max-width: 100px) { 
#documentation { 
margin-left: -30px;
 } 
}




























